<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('ZTcss',{}); %>
        <title>详情</title>
</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <%- include('headbody',{userName}); %>
            <div class="layui-card">
                <div class="layui-card-header">
                    <td>贤心</td>
                    <td>2016-11-29</td>
                </div>
                <div class="layui-card-body">
                    <td>人生就像是一场修行</td>
                </div>
            </div>
        </div>
    </div>
</body>

</html>