<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('ZTcss',{}); %>
        <title>写文章</title>
</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="dh">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="http://localhost:3000">主页</a></li>
                    <li class="layui-nav-item"><a href="http://localhost:3000/article">详情</a></li>
                    <li class="layui-nav-item layui-this"><a href="http://localhost:3000/write">新增</a></li>
                    <li class="layui-nav-item"><a href="http://localhost:3000/login">个人中心</a></li>
                </ul>
            </div>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">内容</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>